.container {
    font-size: 12px;
    width: 600px;
}
.purple {
    color: purple;
}
.black {
    color: black;
}
.a {
    margin-left: 40px;
    color: purple;
}
.b {
    margin-left: 80px;
    color: purple;
}